#formRow {
    display: none;
  }

  #mainRow {
    display: none;
  }
  
  #logOut {
    display: none;
  }

  #editRow{
    display: none;
  }
  
  #editFormRow{
    display: none ;
  }

  .select{
    display: none ;

  }
  